<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Document</title>

</head>
<%- include("./partials/nav") %>

<body>
  <%- include("./partials/msg") %>




<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto mt-4">
      <div class="card shadow">
        <div class="card-header bg-success">
          <h3 class="text-light">Edit blog</h3>
        </div>
        <div class="card-body p-4">
          <form action="/edit-blog/<%= id %>" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title">title</label>
              <input
                type="text"
                name="title"

                title="title"
                class="form-control form-control-lg"
                value="<%= blog.title %>"
                placeholder="Enter title"
                required
              />

<!-- <div class="mb-3">
  <label for="new-image" class="form-label">Select New Image</label>
  <input type="file" name="image" id="new-image" class="form-control form-control-lg">
  <div class="mt-3">
    <img src="/" alt="Current Image" width="100" class="img-thumbnail">
  </div>
  <input type="hidden" name="old_image" value="">
</div> -->



<div class="mb-3">
  <label for="new-image" class="form-label">Select New Image</label>
  <input type="file" name="image" id="new-image" class="form-control form-control-lg">
  <div class="mt-3">
    <img src="/<%= blog.image %>" alt="Current Image" width="100" class="img-thumbnail">
  </div>
  <input type="hidden" name="old_image" value="<%= blog.image %>">
</div>

            <div class="mb-3">
              <label for="content" class="form-label">Content</label>
              <textarea
                id="content"
                name="content"
                class="form-control"
                rows="4"
                placeholder="Enter content"
                required
              ><%= blog.content %></textarea>
            </div>

            <div class="mb-3">
              <input
                type="submit"
                title="submit"
                value="Submit"
                class="btn btn-success"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>

</body>
</html>